body {
  margin: 0;
  padding: 0;
}
section {
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: $col-bg;
  color: $col-fg;
}
.section__inner {
  max-width: 1280px;
  padding: 5em 0.5em;
}
