.intro {}
.intro__inner {
  
  h1 {
    float: left;
    padding: 0 0.25em 0em 0;
  }
  p {
    text-align: left;
  }
}
.intro__links {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
  li {
    display: inline-block;
    font-size: 2rem;
    margin: 1em 0.5rem 0 0;
  }
  a{
    text-decoration: none;
    color: $col-bg;
    background-color: $col-fg;
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
    line-height: 3rem;
    transition-property: all;
    transition-duration: 0.4s;
    transform: translateY(0);
    &:hover {
      transform: translateY(-10px);
      background-color: #555;
    }
    &.fa-youtube:hover {
      background-color: $col-youtube;
    }
    &.fa-twitter:hover {
      background-color: $col-twitter;
    }
    &.fa-soundcloud:hover {
      background-color: $col-soundcloud;
    }
  }

}
